@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: 100vh;
}

.top {
  position: relative;
  height: 20vh;
  padding: 40px 0 0 0;
  background: url(images/bg-mobile-dark.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.top .top--content {
  width: 325px;
  display: flex;
  justify-content: space-between;
}
.top .top--content .title {
  letter-spacing: 5px;
  font-size: 28px;
  color: hsl(236, 33%, 92%);
}
.top .top--content .switch {
  height: 25px;
  width: 25px;
  cursor: pointer;
  background: url(images/icon-sun.svg);
  background-size: cover;
  background-position: center;
}
.top .top--content .switch--light {
  background: url(images/icon-moon.svg);
  background-size: cover;
  background-position: center;
}

.top--light {
  background: url(images/bg-mobile-light.jpg);
  background-position: center;
  background-size: cover;
}

.main--content {
  height: 80vh;
  background-color: hsl(235, 21%, 11%);
  position: relative;
}
.main--content .todo {
  position: relative;
  left: 50%;
  top: -100px;
  transform: translate(-50%);
  width: 325px;
  display: flex;
  flex-wrap: wrap;
}
.main--content .todo .create {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: hsl(235, 24%, 19%);
  margin-bottom: 20px;
}
.main--content .todo .create .add {
  width: 23px;
  height: 23px;
  border: 1px solid hsl(235, 19%, 35%);
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}
.main--content .todo .create input {
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(233, 11%, 84%);
}
.main--content .todo .create--light {
  background-color: hsl(0, 0%, 98%);
}
.main--content .todo .task--container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  width: 100%;
}
.main--content .todo .task--container .task {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(235, 24%, 19%);
}
.main--content .todo .task--container .task .mark {
  width: 23px;
  height: 23px;
  border: 1px solid hsl(235, 19%, 35%);
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main--content .todo .task--container .task .done {
  background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.main--content .todo .task--container .task .task--content {
  color: hsl(233, 11%, 84%);
  margin-right: auto;
  max-width: 225px;
  font-size: 14px;
}
.main--content .todo .task--container .task .strikethrough {
  text-decoration: line-through;
  color: hsl(236, 9%, 61%);
}
.main--content .todo .task--container .task .task--close {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.main--content .todo .task--container .task .task--content--light {
  color: hsl(235, 19%, 35%);
}
.main--content .todo .task--container .hidden {
  display: none;
}
.main--content .todo .task--container .task--light {
  background-color: hsl(0, 0%, 98%);
}
.main--content .todo .task--container .task--light .task--content {
  color: hsl(235, 19%, 35%);
}
.main--content .todo .todo--bottom {
  width: 100%;
}
.main--content .todo .todo--bottom .counter--continer {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  background-color: hsl(235, 24%, 19%);
  justify-content: space-between;
}
.main--content .todo .todo--bottom .counter--continer .left,
.main--content .todo .todo--bottom .counter--continer .clear {
  font-size: 14px;
  font-weight: 400;
  color: hsl(235, 19%, 35%);
}
.main--content .todo .todo--bottom .counter--continer .clear {
  cursor: pointer;
}
.main--content .todo .todo--bottom .counter--continer--light {
  background-color: hsl(0, 0%, 98%);
}
.main--content .todo .todo--bottom .options {
  width: 100%;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  background-color: hsl(235, 24%, 19%);
  justify-content: center;
}
.main--content .todo .todo--bottom .options .option--button {
  color: hsl(234, 11%, 52%);
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;
}
.main--content .todo .todo--bottom .options .option--button:nth-child(3) {
  margin-right: 0;
}
.main--content .todo .todo--bottom .options .choosen--option {
  color: hsl(219, 61%, 54%);
}
.main--content .todo .todo--bottom .options--light {
  background-color: hsl(0, 0%, 98%);
}
.main--content .todo .drag {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translate(-50%);
  font-size: 14px;
  width: 200px;
  color: hsl(235, 19%, 35%);
}

.main--content--light {
  background-color: hsl(236, 33%, 92%);
}

@media (min-width: 880px) {
  .top .top--content {
    width: 550px;
  }
  .main--content .todo {
    width: 550px;
  }
  .main--content .todo .todo--bottom {
    width: 100%;
    display: flex;
    position: relative;
  }
  .main--content .todo .todo--bottom .counter--continer {
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .main--content .todo .todo--bottom .counter--continer .clear:hover {
    color: hsl(233, 11%, 84%);
  }
  .main--content .todo .todo--bottom .options {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    background-color: transparent;
  }
  .main--content .todo .todo--bottom .options .option--button:hover {
    color: hsl(233, 11%, 84%);
  }
}/*# sourceMappingURL=style.css.map */